In [1]:
import pandas as pd
df = pd.read_csv("brazil_parameters/md_20230731.csv")

In [10]:
df

,2023-07-31 12:00:00.072,Unnamed: 1,WINQ23,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,20230731,12:00:00.072,127000.0,754,108860.0,250,117930.0,False,False.1,False.2,False.3
0,2023-07-31 12:00:00.110,NaN,WINQ23,NaN,NaN,NaN,NaN,20230731,12:00:00.110,127000.0,754,108860.0,250,117930.0,False,False,False,False
1,2023-07-31 12:00:00.118,NaN,WINQ23,NaN,NaN,NaN,NaN,20230731,12:00:00.118,127000.0,754,108860.0,250,117930.0,False,False,False,False
2,2023-07-31 12:00:00.125,NaN,WINQ23,NaN,NaN,NaN,NaN,20230731,12:00:00.125,127000.0,754,108860.0,250,117930.0,False,False,False,False
3,2023-07-31 12:00:00.134,NaN,WINQ23,NaN,NaN,NaN,NaN,20230731,12:00:00.134,127000.0,754,108860.0,250,117930.0,False,False,False,False
4,2023-07-31 12:00:00.165,NaN,WINQ23,NaN,NaN,NaN,NaN,20230731,12:00:00.165,127000.0,754,108860.0,250,117930.0,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18892266,2023-07-31 21:01:25.598,UMDF,WINQ23,2023-07-31,1.690837e+18,122655.0,5.0,20230731,21:01:25.598,122655.0,5,NaN,0,119987.5,True,False,False,False
18892267,2023-07-31 21:01:25.598,UMDF,WINQ23,2023-07-31,1.690837e+18,122655.0,3.0,20230731,21:01:25.598,122655.0,3,NaN,0,119987.5,True,False,False,False
18892268,2023-07-31 21:01:25.598,UMDF,WINQ23,2023-07-31,1.690837e+18,122655.0,1.0,20230731,21:01:25.598,122655.0,1,NaN,0,119987.5,True,False,False,False
18892269,2023-07-31 21:01:25.598,UMDF,WINQ23,2023-07-31,1.690837e+18,122655.0,3.0,20230731,21:01:25.598,122655.0,3,NaN,0,119987.5,True,False,False,False
18892270,2023-07-31 21:01:25.598,NaN,WINQ23,NaN,NaN,NaN,NaN,20230731,21:01:25.598,122655.0,56,122660.0,30,122657.5,False,False,True,False

In [3]:
df["timestamp"] = pd.to_datetime(df["timestamp"])
df["timestamp"] =  df["timestamp"] - df["timestamp"].min()
df["time"] = (df['timestamp'] - df['timestamp'].min()).dt.total_seconds()

In [4]:
tau0_plus = df[df["ismoplus"]]['time'].unique()
tau0_minus = df[df["ismominus"]]['time'].unique()
t_minus = df[df["isjumpplus"]]['time'].unique()
t_plus = df[df["isjumpminus"]]['time'].unique()
T=df["time"].max()

In [ ]:
tau0_plus = df["ismoplus"]
tau0_minus = 



df["ismominus"]

print("Tau 0 minus ", tau0_minus)
print("Tau 0 plus ", tau0_plus)